@using TXTextControl.Web.MVC

@{
    ViewData["Title"] = "Edit Document";
}

@* @Html.Raw(ViewBag.Document) *@

<div class="demo">

    <div class="tx-container">

        @{
            // string jsonData = System.IO.File.ReadAllText(Server.MapPath("~/App_Data/Documents/acme_data.json"));
        }

        @Html.TXTextControl().TextControl(settings =>
        {
                // settings.ServiceAddress = IPAddress.Parse(System.Configuration.ConfigurationManager.AppSettings["ServiceAddress"]);
                settings.Dock = TXTextControl.Web.DockStyle.Fill;
        }).LoadText(ViewBag.TemplateDocument,TXTextControl.Web.StringStreamType.RichTextFormat).Render()
    </div>
    <!-- Info area -->
    <div class="alert alert-info mt-3" role="alert"></div>

    <button onclick="Merge()" class="btn mt-3 btn-success">With Dynamic Sections</button>
    <button onclick="Reset()" class="btn mt-3 btn-outline-warning">Reload Template</button>

</div>